.newsSection {
    display: flex;
    /* gap: 2rem; */
    /* padding-left: 4rem; */
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
  }
    
  .timeline {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    border-left: 2px dashed;
    padding-left: 1rem;
  }
  
  .timelineItem {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }
  
  .icon {
    /* width: 20px; */
    height: 20px;
    /* color: var(--ifm-atlas-color); */
    border-radius: 50%;
    margin-top: 4px;
  }
  
  .link {
    margin-left: 0.4rem;
    color: var(--ifm-atlas-color);
    font-weight: 500;
  }
  