/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1653ff;
  --ifm-color-primary-dark: #1547d1;
  --ifm-color-primary-darker: #1744c0;
  --ifm-color-primary-darkest: #143591;
  --ifm-color-primary-light: #1653ff;
  --ifm-color-primary-lighter: #2d65ff;
  --ifm-color-primary-lightest: #4a7aff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #89b8ff;
  --ifm-color-primary-dark: #4671ff;
  --ifm-color-primary-darker: #3f64de;
  --ifm-color-primary-darkest: #375ace;
  --ifm-color-primary-light: #5c9dff;
  --ifm-color-primary-lighter: #8bb9ff;
  --ifm-color-primary-lightest: #b8d4ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
